/* AGREEMENT BEGINNING */
#agreement {
    display: block;
    background: white;
    border-radius: 15px;
    padding: 15px;
    z-index: 3;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#agreement_container {
    background: black;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#opponents-container {
    width: 100%;
    padding: 10px;
    position: fixed;
    text-align: center;
    max-height: 204px;
    overflow: hidden;
}

#music_icon {
    position: fixed;
    width: 50px;
    right: 0px;
}

/* Game Table */
#game_table_board {
    background: #394E67;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    color: white;
    padding-top: 30px;
    font-size: 40px;
    position: fixed;
    width: 500px;
    min-height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
}
.opponent_hand {
    text-align: center;
    white-space: nowrap;
    width: 200px;
    margin: 0px;
    margin-top: 25px;
    overflow: hidden;

}
.opponent_hand img {
    height: 50px;
    margin-right: -10px;
    transition: all .4s;
}
.hovercard {
    margin-right: 5px;
}
#game_table {
    position: fixed;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px; /* Negative half of height. */
    margin-left: -200px; /* Negative half of width. */
}
#game_table_arrow {
    position: fixed;
    width: 550px;
    height: 550px;
    top: 50%;
    left: 50%;
    margin-top: -275px; /* Negative half of height. */
    margin-left: -275px; /* Negative half of width. */
    animation: 5s spin linear infinite;
}
#table_card_container {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.opponent_display {
    display: inline-block;
    text-align: left;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin: 10px;
    background: rgba(236, 240, 241,1.0);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    overflow: hidden;
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  canvas {
    width: 100%;
  }

.card {
    height: 125px;
    width: 80px;
    transition: .2s;
    animation: exit .25s ease-in;
    animation-play-state: paused;
    margin: 0px;
    display: inline-block;
    margin-right: -50px;
    transform: translate(0px, 20px);
}
.card:hover {
    margin-right: -20px;
    transform: translate(0px, 0px);
}
@keyframes exit {
    0% {width: 80px;}
    100% {width: 0px;}
}
#uno_deck {
    cursor: pointer;
    position: fixed;
    height: 180px;
    width: 116.92px;
    top: 40%;
    left: 10%;
    margin-top: -90px; /* Negative half of height. */
    margin-left: -58.46px; /* Negative half of width. */
    transition: .1s;
}
#uno_deck:hover {
    filter: drop-shadow(0px 0px 10px yellow)
}
.uno_draw_animation {
    position: fixed;
    height: 180px;
    width: 116.92px;
    top: 40%;
    left: 10%;
    margin-top: -90px; /* Negative half of height. */
    margin-left: -58.46px; /* Negative half of width. */
    animation: drawanimation .2s ease-out;
    transition: all .2s ease-out;
}
@keyframes drawanimation {
    0% { transform: translate(0px, 0px) scale(1); }
    100% { transform: translate(550px, 380px) scale(0.5); }
}
#main_menu_error {
    color: red;
}
.table_card {
    position: fixed;
    height: 280px;
    width: 180px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -140px; /* Negative half of height. */
    margin-left: -90px; /* Negative half of width. */
    animation: .4s ease-out placeCard;
}
@keyframes placeCard {
    0% {opacity: 0.75; transform: rotate(0deg) scale(2);}
    100% {opacity: 1; transform: rotate(160deg) scale(1);}
}
.card_opponent {
    display: absolute;
    height: 100px;
    transition: 1s;
    
}
#playerhand {
    height: 120px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    left: 0;
    right: 0;
    max-width: 800px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 10px;
}
/* width */
#playerhand::-webkit-scrollbar {
  width: 2px;
}

/* Track */
#playerhand::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.2);
}

/* Handle */
#playerhand::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
#playerhand::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.small_card {
    width: 10px;
}
#LeaveRoomButton {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 5px 20px 5px 20px;
    background: red;
    font-size: 25px;
    border-radius: 0px 0px 15px 0px;
    z-index: 20;
}
#LeaveRoomButton img {
    width: 40px;
}
/* Uno Mechanic */
#uno_speed_prompt {
    display: none;
    margin: 0;
    position: fixed;
    background: rgba(0,0,0,0.9);
    color: white;
    top: 50%;
    padding-top: 10px;
    text-align: center;
    z-index: 10;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
    font-size: 50px;
    animation: anim_spprompt .25s ease-out;
}
@keyframes anim_spprompt {
    0% {height: 0px; opacity: 0}
    100% {height: 100px; opacity: 1}
}
#key_outer {
    background: #95a5a6;
    border-radius: 5px;
    padding: 8px 8px 8px 8px;
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    animation: spamkey .15s infinite;
}
#key_inner {
    background: #bdc3c7;
    border-radius: 5px;
}
@keyframes spamkey {
    0% {transform: scale(1.2)}
    40% {transform: scale(0.8)}
    100% {transform: scale(1)}
}
.opponent_container_id {
    border-radius: 30px 30px 10px 10px;
    width: 240px;
    height: 175px;
    background: white;
    margin-left: 6px;
    margin-right: 6px;
    display: inline-block;
    animation: .75s joinanimation ease-out;
}

@keyframes joinanimation {
    0% { transform: scale(0.8) }
    10% { transform: scale(1.4) }
    30% { transform: scale(0.9) }
    50% { transform: scale(1.2) }
    80% { transform: scale(0.95) }
    100% { transform: scale(1) }
}