{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta property="og:title" content="UNO by --------" />
        {% if roomcode %}
        <meta property="og:title" content="You have been invited to join {{roomcode}}" />
        {% endif %}
        <meta property="og:description" content="Uno but scuffed" />
        <meta property="og:url" content="fello.pythonanywhere.com/uno" />
        <meta property="og:image" content="{% static 'uno/preview.png' %}" />
        <link rel="icon" href="{% static 'uno/logo.png' %}">
        <title>Uno BETA by --------</title>
        <link rel="stylesheet" href="{% static 'uno/mainmenu.css' %}?v=1.0.8">
        <link rel="stylesheet" href="{% static 'uno/style.css' %}?v=1.0.8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
        <style>
            @font-face {
                font-family: ArialBold;
                src: url({% static 'uno/ArialBold.ttf' %});
            }
        </style>
    </head>
    <body>
        <!-- Message Disclaimer and PRELOADER-->
        <div id="agreement_container">
            <div id="agreement">
                This is just for fun, there may be some bugs. Enjoy :)
                <div id="loading_assets">Loading Assets 0/54</div>
                <button class="pushable_green" id="iunderstand" onclick="document.getElementById('agreement_container').style.display = 'none'; readMessage()">
                    <span class="front_green">
                    I Understand.
                    </span>
                </button>
                <div id="assetloader">
                    <img src="{% static 'uno/red/0.png' %}" class="preload"><img src="{% static 'uno/red/1.png' %}" class="preload"><img src="{% static 'uno/red/2.png' %}" class="preload"><img src="{% static 'uno/red/3.png' %}" class="preload"><img src="{% static 'uno/red/4.png' %}" class="preload"><img src="{% static 'uno/red/5.png' %}" class="preload"><img src="{% static 'uno/red/6.png' %}" class="preload"><img src="{% static 'uno/red/7.png' %}" class="preload"><img src="{% static 'uno/red/8.png' %}" class="preload"><img src="{% static 'uno/red/9.png' %}" class="preload"><img src="{% static 'uno/red/+2.png' %}" class="preload"><img src="{% static 'uno/red/stop.png' %}" class="preload"><img src="{% static 'uno/red/reverse.png' %}" class="preload">
                    <img src="{% static 'uno/yellow/0.png' %}" class="preload"><img src="{% static 'uno/yellow/1.png' %}" class="preload"><img src="{% static 'uno/yellow/2.png' %}" class="preload"><img src="{% static 'uno/yellow/3.png' %}" class="preload"><img src="{% static 'uno/yellow/4.png' %}" class="preload"><img src="{% static 'uno/yellow/5.png' %}" class="preload"><img src="{% static 'uno/yellow/6.png' %}" class="preload"><img src="{% static 'uno/yellow/7.png' %}" class="preload"><img src="{% static 'uno/yellow/8.png' %}" class="preload"><img src="{% static 'uno/yellow/9.png' %}" class="preload"><img src="{% static 'uno/yellow/+2.png' %}" class="preload"><img src="{% static 'uno/yellow/stop.png' %}" class="preload"><img src="{% static 'uno/yellow/reverse.png' %}" class="preload">
                    <img src="{% static 'uno/green/0.png' %}" class="preload"><img src="{% static 'uno/green/1.png' %}" class="preload"><img src="{% static 'uno/green/2.png' %}" class="preload"><img src="{% static 'uno/green/3.png' %}" class="preload"><img src="{% static 'uno/green/4.png' %}" class="preload"><img src="{% static 'uno/green/5.png' %}" class="preload"><img src="{% static 'uno/green/6.png' %}" class="preload"><img src="{% static 'uno/green/7.png' %}" class="preload"><img src="{% static 'uno/green/8.png' %}" class="preload"><img src="{% static 'uno/green/9.png' %}" class="preload"><img src="{% static 'uno/green/+2.png' %}" class="preload"><img src="{% static 'uno/green/stop.png' %}" class="preload"><img src="{% static 'uno/green/reverse.png' %}" class="preload">
                    <img src="{% static 'uno/blue/0.png' %}" class="preload"><img src="{% static 'uno/blue/1.png' %}" class="preload"><img src="{% static 'uno/blue/2.png' %}" class="preload"><img src="{% static 'uno/blue/3.png' %}" class="preload"><img src="{% static 'uno/blue/4.png' %}" class="preload"><img src="{% static 'uno/blue/5.png' %}" class="preload"><img src="{% static 'uno/blue/6.png' %}" class="preload"><img src="{% static 'uno/blue/7.png' %}" class="preload"><img src="{% static 'uno/blue/8.png' %}" class="preload"><img src="{% static 'uno/blue/9.png' %}" class="preload"><img src="{% static 'uno/blue/+2.png' %}" class="preload"><img src="{% static 'uno/blue/stop.png' %}" class="preload"><img src="{% static 'uno/blue/reverse.png' %}" class="preload">
                    <img src="{% static 'uno/table.png' %}" class="preload">
                </div>            
            </div>
        </div>
        <!-- Animated Background -->
        <ul class="box-area">
            <li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
        <!-- Popup -->
        <div id="Popup" class="popup shadow">
            <div id="PopupMessage">
                You have been disconnected from the server.
            </div>
            <button class="pushable_green" onclick="Close_Popup()">
                <span class="front_green">
                  Ok
                </span>
              </button>
        </div>
        <img src="{% static 'uno/symbols/unmuted.png' %}" id="music_icon" onclick="toggleunmute()">
        <!-- Main Menu-->
        <div id="main_menu" class="screen">
            <img src="{% static 'uno/logo.png' %}" id="uno_logo">
            <div class="main_menu_menu">
                <div class="user_profile_container" id="user_profile_container" style="background: #ff6b6b;">
                    <img src="{% static 'uno/profiles/ganyu.jpg' %}" id="user_profile_icon" class="user_profile_icon"  onclick="toggleCC('show')">
                    <input class="user_profile_name" id="user_profile_name" placeholder="Nickname" value="" maxlength="12">
                </div>
                <input type="text" class="themeinput" id="roomNameInput" maxlength="12" placeholder="Room Code" value="{{roomcode}}">
                <div id="main_menu_error"></div>
                <button class="pushable" onclick="createRoom()">
                    <span class="front">
                      Play
                    </span>
                  </button>
                  <!-- Room Settings -->
                  <div id="room_settings">
                        Private
                        <label class="switch"><input type="checkbox"><span class="slider round"></span></span></label><br>
                        Game Loop [BETA]
                        <label class="switch"><input type="checkbox"><span class="slider round"></span></span></label>
                  </div>
                  
            </div>
        </div>
         <!-- PLAYER CARD CREATION -->
        <div id="profile_creation_container">
            Profile <div id="profile_container_pics"></div>
            Colors <div id="namecard_container"></div>
        </div>
        <div id="play_area" class="screen">
            <div id="LeaveRoomButton" onclick="LeaveRoom()"><img src="{% static 'uno/symbols/back.png' %}"></div>
            <div id="uno_speed_prompt">
                <div id="key_outer">
                    <div id="key_inner">
                        
                    </div>
                </div>
            </div>
            <img src="{% static 'uno/table.png' %}" id="game_table">
            <img src="{% static 'uno/arrow.png' %}" id="game_table_arrow">
            <img src="{% static 'uno/deck.png' %}" id="uno_deck" onclick="requestCard()">
            <div id="chatbox">
                <form onsubmit="return validateMessage()">
                    <input type="text" id="ClientChatBox" placeholder="&quot;/&quot; to chat. ">
                    <div id="Chat_Container"></div>
                </form>
            </div>
            <div id="table_card_container"></div>
            <div id="game_table_board">
                Waiting for players.
                <button class="pushable" id="startgame" onclick="startGame()" style="display: none;">
                    <span class="front">
                        Start
                    </span>
                </button> 
            </div>
            <div id="opponents-container">
            </div>
            <div id="playerhand">
            </div>
        </div>
        <input type="text" id="roomID" class="hidden">
        <style>
            #roomID {
                display: none;
            }
        </style>
        <script src="{% static 'uno/unogame.js' %}?v=1.0.8"></script>
        <script src="{% static 'uno/mainmenu.js' %}?v=1.0.8"></script>
        <!-- AUDIO FILES -->
        <audio preload="auto" src="{% static 'uno/sounds/card.wav' %}" id="card_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/play.wav' %}" id="play_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/join.wav' %}" id="join_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/place.wav' %}" id="place_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/uno_pre.wav' %}" id="uno_pre_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/uno.wav' %}" id="uno_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/menu.mp3' %}" id="menumusic" loop="true"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/letsplay.mp3' %}" id="gamemusic" loop="true"></audio>
        <script>
            //menu music
            function readMessage() {
                if (getCookie('music') == 'on') {
                        $('#menumusic')[0].play();
                        $('#menumusic')[0].volume = 0.6;
                } else if (getCookie('music') == 'off') {
                    toggleunmute()
                    $('#menumusic')[0].play();
                } else {
                    document.cookie = `music=on`;
                    readMessage()
                }
            }
            function toggleunmute(){
                var music_icon = document.getElementById('music_icon');
                var menu_music = document.getElementById('menumusic');
                var game_music = document.getElementById('gamemusic');
                if (menu_music.volume == 0) {
                    menu_music.volume = 0.6;
                    game_music.volume = 0.6;
                    music_icon.src = '/static/uno/symbols/unmuted.png';
                    document.cookie = `music=on`;
                } else {
                    menu_music.volume = 0;
                    game_music.volume = 0;
                    music_icon.src = '/static/uno/symbols/muted.png';
                    document.cookie = `music=off`;
                }
            }
            </script>
    </body>
</html>