{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% if roomcode %}
            <meta property="og:title" content="You have been invited to join &quot;{{roomcode}}&quot;" />
        {% else %}
            <meta property="og:title" content="UNO by Fello" />
        {% endif %}
        <meta property="og:description" content="Uno but scuffed" />
        <meta property="og:url" content="fello.pythonanywhere.com/uno" />
        <meta property="og:image" content="{% static 'uno/preview.png' %}" />
        <link rel="icon" href="{% static 'uno/game_assets/logo.png' %}">
        <title>Uno by Fello</title>
        <style>
            @font-face {
                font-family: ArialBold;
                src: url({% static 'uno/fonts/ArialBold.ttf' %});
            }
        </style>
        <link rel="stylesheet" href="{% static 'uno/stylesheets/mainmenu.css' %}?v=1.0.9">
        <link rel="stylesheet" href="{% static 'uno/stylesheets/style.css' %}?v=1.0.9">
        <link rel="stylesheet" href="{% static 'uno/stylesheets/gamestyle.css' %}?v=1.0.9">
        <link rel="stylesheet" href="{% static 'uno/stylesheets/gui.css' %}?v=1.0.9">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Message Disclaimer and PRELOADER-->
        <div id="agreement_container">
            <div id="agreement">
                Loading Assets . . .
                <span id="loading_assets">Loading Assets 0/54</span>
                <button class="pushable_green" id="iunderstand" onclick="document.getElementById('agreement_container').style.display = 'none'; readMessage()">
                    <span class="front_green">I Understand.</span>
                </button>
                <div id="loading_preloader"></div>  
            </div>
        </div>
        <!-- Animated Background -->
        <ul class="box-area">
            <li></li><li></li><li></li><li></li><li></li><li></li>
        </ul>
        <!-- Popup -->
        <div id="Popup" class="popup shadow">
            <div id="PopupMessage">
                You have been disconnected from the server.
            </div>
            <button class="pushable_green" onclick="Close_Popup()">
                <span class="front_green">Ok</span>
            </button>
        </div>
        <img src="{% static 'uno/game_assets/icon_settings.png' %}" id="settings_icon">
        <!-- Main Menu-->
        <div id="main_menu" class="screen">
            <div class="main_menu_menu">
                <img src="{% static 'uno/game_assets/logo.png' %}" id="uno_logo">
                <div class="user_profile_container" id="user_profile_container" style="background: #ff6b6b;">
                    <img src="{% static 'uno/profiles/ganyu.jpg' %}" id="user_profile_icon" class="user_profile_icon"  onclick="toggleCC('show')">
                    <input autocomplete="off" class="user_profile_name" id="user_profile_name" placeholder="Nickname" value="" maxlength="12">
                </div>
                <input autocomplete="off" type="text" class="themeinput" id="roomNameInput" maxlength="12" placeholder="Room Code" value="{{roomcode}}">
                <div id="main_menu_error"></div>
                <button class="pushable" id="Play_Button" onclick="createRoom()">
                    <span class="front">Play</span>
                </button>
                <!-- Room Settings 
                <div id="room_settings">
                    Private <label class="switch"><input type="checkbox"><span class="slider round"></span></span></label><br>
                    Game Loop [BETA] <label class="switch"><input type="checkbox"><span class="slider round"></span></span></label>
                </div>-->
            </div>
        </div>
         <!-- PLAYER CARD CREATION -->
        <div id="profile_creation_container">
            Profile <div id="profile_container_pics"></div>
            Colors <div id="namecard_container"></div>
        </div>
        <div id="play_area" class="screen">
            <div id="LeaveRoomButton" onclick="LeaveRoom()"><img src="{% static 'uno/symbols/back.png' %}"></div>
            <div id="uno_speed_prompt">
                <div id="key_outer">
                    <div id="key_inner">
                        
                    </div>
                </div>
            </div>
            <img src="{% static 'uno/table.png' %}" id="game_table">
            <img src="{% static 'uno/arrow.png' %}" id="game_table_arrow">
            <img src="{% static 'uno/deck.png' %}" id="uno_deck" onclick="requestCard()">
            <div id="chat_container">
                <div id="chatbox"></div>
                <form onsubmit="return validateMessage()">
                    <input type="text" id="chatbox_input" placeholder="&quot;/&quot; to chat." autocomplete="off">
                </form>
            </div>
            <div id="table_card_container"></div>
            <div class="background-dimmer" id="game_table_board-dimmer">
                <div id="game_table_board">
                    Waiting for players.
                    <button class="pushable" id="startgame" onclick="startGame()" style="display: none;">
                        <span class="front">
                            Start
                        </span>
                    </button> 
                </div>
            </div>
            <div id="opponents-container">
            </div>
            <div id="playerhand">
            </div>
            <div id="chngclr_container">
                <div class="chngclr_option red" onclick="SelectedColor('red')"></div>
                <div class="chngclr_option yellow" onclick="SelectedColor('yellow')"></div>
                <div class="chngclr_option green" onclick="SelectedColor('green')"></div>
                <div class="chngclr_option blue" onclick="SelectedColor('blue')"></div>
            </div>
        </div>
        <!-- LOADING CIRCLE -->
        <div class="background-dimmer" id="loader" style="display: none;">
            <div class="loader"></div>
        </div>
        <script src="{% static 'uno/scripts/client.js' %}?v=1.0.9"></script>
        <script src="{% static 'uno/scripts/uno.js' %}?v=1.0.9"></script>
        <script src="{% static 'uno/scripts/interface.js' %}?v=1.0.9"></script>
        <!-- AUDIO FILES -->
        <audio preload="auto" src="{% static 'uno/sounds/card.wav' %}" id="card_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/play.wav' %}" id="play_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/join.wav' %}" id="join_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/place.wav' %}" id="place_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/uno_pre.wav' %}" id="uno_pre_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/uno.wav' %}" id="uno_sfx"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/menu.mp3' %}" id="menumusic" loop="true"></audio>
        <audio preload="auto" src="{% static 'uno/sounds/letsplay.mp3' %}" id="gamemusic" loop="true"></audio>
        <script>
            //menu music
            function readMessage() {
                if (getCookie('music') == 'on') {
                        $('#menumusic')[0].play();
                        $('#menumusic')[0].volume = 0.6;
                } else if (getCookie('music') == 'off') {
                    toggleunmute()
                    $('#menumusic')[0].play();
                } else {
                    document.cookie = `music=on`;
                    readMessage()
                }
            }
            function toggleunmute(){
                var music_icon = document.getElementById('music_icon');
                var menu_music = document.getElementById('menumusic');
                var game_music = document.getElementById('gamemusic');
                if (menu_music.volume == 0) {
                    menu_music.volume = 0.6;
                    game_music.volume = 0.6;
                    music_icon.src = '/static/uno/symbols/unmuted.png';
                    document.cookie = `music=on`;
                } else {
                    menu_music.volume = 0;
                    game_music.volume = 0;
                    music_icon.src = '/static/uno/symbols/muted.png';
                    document.cookie = `music=off`;
                }
            }
            </script>
    </body>
</html>