body {
    background: black;
    padding: 0px;
    margin: 0px;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

/* AGREEMENT BEGINNING */
#agreement {
    display: block;
    background: white;
    border-radius: 15px;
    padding: 15px;
    z-index: 3;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

#agreement_container {
    background: black;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#opponents-container {
    width: 100%;
    padding: 10px;
    position: fixed;
    text-align: center;
    max-height: 204px;
    overflow: hidden;
}

#music_icon {
    position: fixed;
    width: 50px;
    z-index: 1;
    right: 0px;
}

/* Game Table */
#game_table_board {
    background: #a29bfe;
    border-radius: 50px;
    text-align: center;
    padding: 20px;
    color: white;
    padding-top: 30px;
    font-size: 40px;
    position: fixed;
    width: 500px;
    min-height: 60px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
}
.opponent_hand {
    text-align: center;
    overflow: hidden;
}
.opponent_hand img {
    height: 50px;
}
#game_table {
    position: fixed;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-top: -200px; /* Negative half of height. */
    margin-left: -200px; /* Negative half of width. */
}
#game_table_arrow {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    animation: 2s spin linear infinite;
}
#table_card_container {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
    text-align: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.opponent_display {
    display: inline-block;
    text-align: left;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin: 10px;
    background: rgba(236, 240, 241,1.0);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    height: 150px;
    overflow: hidden;
}

.avatar {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  
  .title {
    font-size: 10vw;
    color: white;
  }
  
  canvas {
    width: 100%;
  }

.card {
    height: 125px;
    width: 80px;
    transition: .2s;
    animation: exit .25s ease-in;
    animation-play-state: paused;
    margin: 0px;
    display: inline-block;
}
.card:hover {
    margin-left: 5px;
    margin-right: 5px;
}
@keyframes exit {
    0% {width: 80px;}
    100% {width: 0px;}
}
#uno_deck {
    position: fixed;
    height: 180px;
    width: 116.92px;
    top: 40%;
    left: 10%;
    margin-top: -90px; /* Negative half of height. */
    margin-left: -58.46px; /* Negative half of width. */
}
.uno_draw_animation {
    position: fixed;
    height: 180px;
    width: 116.92px;
    top: 40%;
    left: 10%;
    margin-top: -90px; /* Negative half of height. */
    margin-left: -58.46px; /* Negative half of width. */
    animation: drawanimation .2s ease-out;
}
@keyframes drawanimation {
    0% {
        position: fixed;
        height: 180px;
        width: 116.92px;
        top: 40%;
        left: 10%;
        margin-top: -90px; /* Negative half of height. */
        margin-left: -58.46px; /* Negative half of width. */
    }
    100% {
        position: fixed;
        height: 180px;
        width: 116.92px;
        top: 90%;
        left: 50%;
        margin-top: -90px; /* Negative half of height. */
        margin-left: -58.46px; /* Negative half of width. */
    }
}
#main_menu_error {
    color: red;
}
.table_card {
    position: fixed;
    height: 280px;
    width: 179.28px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -140px; /* Negative half of height. */
    margin-left: -89.64px; /* Negative half of width. */
    animation: .4s ease-out placeCard;
}
@keyframes placeCard {
    0% {opacity: 0.6; transform: rotate(0deg) scale(2);}
    100% {opacity: 1; transform: rotate(720deg) scale(1);}
}
.card_opponent {
    display: absolute;
    height: 100px;
    transition: 1s;
    
}
#playerhand {
    height: 100px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    padding: 10px;
    margin-left:auto;
    margin-right:auto;
    left: 0;
    right: 0;
    max-width: 800px;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
#chatbox {
    padding: 10px;
    background: white;
    border-radius: 15px;
    position: fixed;
    height: 300px;
    width: 220px;
    top: 72%;
    right: 6%;
    margin-top: -150px; /* Negative half of height. */
    margin-right: -60px; /* Negative half of width. */
}
#chatbox input {
}
#Chat_Container {
    height: 260px;
    overflow-y: scroll;
}
.small_card {
    width: 10px;
}
#animated-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(52,231,228);
    background: linear-gradient(90deg, rgba(52,231,228,1) 5%, rgba(11,232,129,1) 81%);
}
.box-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 13;
}
.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.5);
    animation: bg 20s linear infinite;
    bottom: -150px;
}
.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5) {
    left: 85%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
@keyframes bg {
    0% { 
        transform: translateY(0px) rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}